LoadCSVDataIntoDBUsingProcessTemplate.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>6e0da6cd-0175-1000-3278-0cc6253a75e2</groupId>
    <name>LoadCSVDataIntoDBUsingProcessTemplate</name>
    <snippet>
        <controllerServices>
            <id>1dfd7156-e608-338a-0000-000000000000</id>
            <parentGroupId>39c6221a-cc4e-35eb-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                    <value>
                        <name>csv-reader-csv-parser</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>
                        <name>CSV Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>
                        <name>Value Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>
                        <name>Record Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>
                        <name>Skip Header Line</name>
                    </value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                    <value>
                        <name>ignore-csv-header</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>
                        <name>Quote Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>
                        <name>Escape Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                    <value>
                        <name>Comment Marker</name>
                    </value>
                </entry>
                <entry>
                    <key>Null String</key>
                    <value>
                        <name>Null String</name>
                    </value>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>
                        <name>Trim Fields</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>
                        <name>csvutils-character-set</name>
                    </value>
                </entry>
            </descriptors>
            <name>CSVReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>csv-header-derived</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                    <value>commons-csv</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>custom</value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>,</value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>\n</value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>"</value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>\</value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                </entry>
                <entry>
                    <key>Null String</key>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>UTF-8</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.csv.CSVReader</type>
        </controllerServices>
        <controllerServices>
            <id>ed067bf5-5774-30d7-0000-000000000000</id>
            <parentGroupId>39c6221a-cc4e-35eb-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-array</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <processGroups>
            <id>cc3eedc4-6af7-357b-0000-000000000000</id>
            <parentGroupId>39c6221a-cc4e-35eb-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>03b0e6ae-015f-3efb-0000-000000000000</id>
                    <parentGroupId>cc3eedc4-6af7-357b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>20000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>52652e82-9e1f-3805-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>sql</selectedRelationships>
                    <source>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>7975b763-1843-3a31-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>115081eb-46c6-38bb-0000-000000000000</id>
                    <parentGroupId>cc3eedc4-6af7-357b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>8021159d-9b7b-3934-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>daf8628e-6664-3304-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>25eba098-8086-3ea4-0000-000000000000</id>
                    <parentGroupId>cc3eedc4-6af7-357b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>0c6d2458-8cfb-3046-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>ed8da7e7-3cb9-3a07-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>27dc1fc1-2dcd-3601-0000-000000000000</id>
                    <parentGroupId>cc3eedc4-6af7-357b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>2eefb170-0a8d-3d6c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>7975b763-1843-3a31-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>29d3120e-d028-30b3-0000-000000000000</id>
                    <parentGroupId>cc3eedc4-6af7-357b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>2eefb170-0a8d-3d6c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>52652e82-9e1f-3805-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2d1ef098-25c0-3693-0000-000000000000</id>
                    <parentGroupId>cc3eedc4-6af7-357b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>2eefb170-0a8d-3d6c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>2e0c16c0-8d43-3bd0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6eaba699-8420-3470-0000-000000000000</id>
                    <parentGroupId>cc3eedc4-6af7-357b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>20000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>ed8da7e7-3cb9-3a07-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>62b7833a-02ca-3167-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>86c7ba49-d202-31a2-0000-000000000000</id>
                    <parentGroupId>cc3eedc4-6af7-357b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>2eefb170-0a8d-3d6c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>32dde142-0b7a-3a2a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>93ac18e3-854b-30d8-0000-000000000000</id>
                    <parentGroupId>cc3eedc4-6af7-357b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>20000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>daf8628e-6664-3304-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>63686ea2-d762-3f74-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>94725fb0-9e81-362a-0000-000000000000</id>
                    <parentGroupId>cc3eedc4-6af7-357b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>385.19964599609375</x>
                        <y>1044.3609619140625</y>
                    </bends>
                    <bends>
                        <x>385.19964599609375</x>
                        <y>1094.3609619140625</y>
                    </bends>
                    <destination>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>2e0c16c0-8d43-3bd0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>2e0c16c0-8d43-3bd0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>993dc190-a7cd-3948-0000-000000000000</id>
                    <parentGroupId>cc3eedc4-6af7-357b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>20000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>7975b763-1843-3a31-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>0c6d2458-8cfb-3046-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9cd5636d-5ae4-3cc2-0000-000000000000</id>
                    <parentGroupId>cc3eedc4-6af7-357b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>20000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>32dde142-0b7a-3a2a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>containsSpecialCharacter</selectedRelationships>
                    <source>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>0c6d2458-8cfb-3046-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>af582a5f-9235-3d2e-0000-000000000000</id>
                    <parentGroupId>cc3eedc4-6af7-357b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>2e0c16c0-8d43-3bd0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>sql</selectedRelationships>
                    <source>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>32dde142-0b7a-3a2a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c1b3c065-b7f3-3b07-0000-000000000000</id>
                    <parentGroupId>cc3eedc4-6af7-357b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-322.33642578125</x>
                        <y>1039.0</y>
                    </bends>
                    <bends>
                        <x>-322.33642578125</x>
                        <y>1089.0</y>
                    </bends>
                    <destination>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>52652e82-9e1f-3805-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>52652e82-9e1f-3805-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e5674d86-4664-3691-0000-000000000000</id>
                    <parentGroupId>cc3eedc4-6af7-357b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>20000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>62b7833a-02ca-3167-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>daf8628e-6664-3304-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ff03ce1b-f52c-3d0b-0000-000000000000</id>
                    <parentGroupId>cc3eedc4-6af7-357b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>8021159d-9b7b-3934-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>cc3eedc4-6af7-357b-0000-000000000000</groupId>
                        <id>62b7833a-02ca-3167-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>df21e763-4730-30b2-0000-000000000000</id>
                    <parentGroupId>cc3eedc4-6af7-357b-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-dbcp-service-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>
<name>Database Connection URL</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>
<name>Database Driver Class Name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>
<name>database-driver-locations</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
<name>kerberos-credentials-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-principal</key>
                            <value>
<name>kerberos-principal</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-password</key>
                            <value>
<name>kerberos-password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>
<name>Database User</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Password</key>
                            <value>
<name>Password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>
<name>Max Wait Time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>
<name>Max Total Connections</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                            <value>
<name>Validation-query</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                            <value>
<name>dbcp-min-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                            <value>
<name>dbcp-max-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                            <value>
<name>dbcp-max-conn-lifetime</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                            <value>
<name>dbcp-time-between-eviction-runs</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                            <value>
<name>dbcp-min-evictable-idle-time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                            <value>
<name>dbcp-soft-min-evictable-idle-time</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>LoadCSVDataintoDB</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>#{db.ConnURL}</value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>#{db.DriverClassName}</value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>#{db.DriverLocation}</value>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                        </entry>
                        <entry>
                            <key>kerberos-principal</key>
                        </entry>
                        <entry>
                            <key>kerberos-password</key>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>#{db.User}</value>
                        </entry>
                        <entry>
                            <key>Password</key>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>500 millis</value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                            <value>30 mins</value>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                            <value>-1</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
                </controllerServices>
                <labels>
                    <id>77561182-aeac-3796-0000-000000000000</id>
                    <parentGroupId>cc3eedc4-6af7-357b-0000-000000000000</parentGroupId>
                    <position>
                        <x>184.0</x>
                        <y>-392.0</y>
                    </position>
                    <height>216.0</height>
                    <label>This flow is used to load Dunkin store data( CSV ) to DB. 
Algorithm is given below -
        
        1. Read CSV from folder.
        2. Converting CSV to JSON.
        3. Converting JSON to SQL query.
        4. Run those query.
</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>20px</value>
                        </entry>
                    </style>
                    <width>552.0</width>
                </labels>
                <processors>
                    <id>0c6d2458-8cfb-3046-0000-000000000000</id>
                    <parentGroupId>cc3eedc4-6af7-357b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-432.0</x>
                        <y>248.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Match Requirement</key>
<value>
    <name>Match Requirement</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Content Buffer Size</key>
<value>
    <name>Content Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>containsSpecialCharacter</key>
<value>
    <name>containsSpecialCharacter</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Match Requirement</key>
<value>content must contain match</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Content Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>containsSpecialCharacter</key>
<value>.*?([()&amp;@$%*]).*?</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Special Character Separator</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>containsSpecialCharacter</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnContent</type>
                </processors>
                <processors>
                    <id>2e0c16c0-8d43-3bd0-0000-000000000000</id>
                    <parentGroupId>cc3eedc4-6af7-357b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-80.0</x>
                        <y>1008.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JDBC Connection Pool</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>JDBC Connection Pool</name>
</value>
                            </entry>
                            <entry>
<key>putsql-sql-statement</key>
<value>
    <name>putsql-sql-statement</name>
</value>
                            </entry>
                            <entry>
<key>Support Fragmented Transactions</key>
<value>
    <name>Support Fragmented Transactions</name>
</value>
                            </entry>
                            <entry>
<key>database-session-autocommit</key>
<value>
    <name>database-session-autocommit</name>
</value>
                            </entry>
                            <entry>
<key>Transaction Timeout</key>
<value>
    <name>Transaction Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Obtain Generated Keys</key>
<value>
    <name>Obtain Generated Keys</name>
</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>
    <name>rollback-on-failure</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JDBC Connection Pool</key>
<value>df21e763-4730-30b2-0000-000000000000</value>
                            </entry>
                            <entry>
<key>putsql-sql-statement</key>
<value>INSERT INTO public."ErrorTable"(
	"PFCNTR", "DMA_CODE", "DMA_DESC", "OPEN_BRANDS_DESC", "OPERTNL_STAT_CODE", "LEGAL_ENTITY_NAME", "CITY_NAME", "STATE_CODE", "CNTY_NAME", "ZIP_CODE", "CNTRY", "LATITUDE", "LONGITUDE", "CreateTs", "ModifyTs")
	VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);</value>
                            </entry>
                            <entry>
<key>Support Fragmented Transactions</key>
<value>true</value>
                            </entry>
                            <entry>
<key>database-session-autocommit</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Transaction Timeout</key>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>500</value>
                            </entry>
                            <entry>
<key>Obtain Generated Keys</key>
<value>false</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Put Error Data into SQL</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutSQL</type>
                </processors>
                <processors>
                    <id>2eefb170-0a8d-3d6c-0000-000000000000</id>
                    <parentGroupId>cc3eedc4-6af7-357b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-472.0</x>
                        <y>712.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>windows-1252</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>If failure happens data comes here</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>32dde142-0b7a-3a2a-0000-000000000000</id>
                    <parentGroupId>cc3eedc4-6af7-357b-0000-000000000000</parentGroupId>
                    <position>
                        <x>0.0</x>
                        <y>512.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JDBC Connection Pool</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>JDBC Connection Pool</name>
</value>
                            </entry>
                            <entry>
<key>Statement Type</key>
<value>
    <name>Statement Type</name>
</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>
    <name>Table Name</name>
</value>
                            </entry>
                            <entry>
<key>Catalog Name</key>
<value>
    <name>Catalog Name</name>
</value>
                            </entry>
                            <entry>
<key>Schema Name</key>
<value>
    <name>Schema Name</name>
</value>
                            </entry>
                            <entry>
<key>Translate Field Names</key>
<value>
    <name>Translate Field Names</name>
</value>
                            </entry>
                            <entry>
<key>Unmatched Field Behavior</key>
<value>
    <name>Unmatched Field Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Unmatched Column Behavior</key>
<value>
    <name>Unmatched Column Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Update Keys</key>
<value>
    <name>Update Keys</name>
</value>
                            </entry>
                            <entry>
<key>jts-quoted-identifiers</key>
<value>
    <name>jts-quoted-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>jts-quoted-table-identifiers</key>
<value>
    <name>jts-quoted-table-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>jts-sql-param-attr-prefix</key>
<value>
    <name>jts-sql-param-attr-prefix</name>
</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>
    <name>table-schema-cache-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JDBC Connection Pool</key>
<value>df21e763-4730-30b2-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Statement Type</key>
<value>INSERT</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>#{db.ErrorTableName}</value>
                            </entry>
                            <entry>
<key>Catalog Name</key>
                            </entry>
                            <entry>
<key>Schema Name</key>
<value>public</value>
                            </entry>
                            <entry>
<key>Translate Field Names</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Unmatched Field Behavior</key>
<value>Ignore Unmatched Fields</value>
                            </entry>
                            <entry>
<key>Unmatched Column Behavior</key>
<value>Fail on Unmatched Columns</value>
                            </entry>
                            <entry>
<key>Update Keys</key>
                            </entry>
                            <entry>
<key>jts-quoted-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>jts-quoted-table-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>jts-sql-param-attr-prefix</key>
<value>sql</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>100</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Convert each JSON file To a SQL query</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>sql</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ConvertJSONToSQL</type>
                </processors>
                <processors>
                    <id>52652e82-9e1f-3805-0000-000000000000</id>
                    <parentGroupId>cc3eedc4-6af7-357b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-792.0</x>
                        <y>1000.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JDBC Connection Pool</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>JDBC Connection Pool</name>
</value>
                            </entry>
                            <entry>
<key>putsql-sql-statement</key>
<value>
    <name>putsql-sql-statement</name>
</value>
                            </entry>
                            <entry>
<key>Support Fragmented Transactions</key>
<value>
    <name>Support Fragmented Transactions</name>
</value>
                            </entry>
                            <entry>
<key>database-session-autocommit</key>
<value>
    <name>database-session-autocommit</name>
</value>
                            </entry>
                            <entry>
<key>Transaction Timeout</key>
<value>
    <name>Transaction Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Obtain Generated Keys</key>
<value>
    <name>Obtain Generated Keys</name>
</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>
    <name>rollback-on-failure</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JDBC Connection Pool</key>
<value>df21e763-4730-30b2-0000-000000000000</value>
                            </entry>
                            <entry>
<key>putsql-sql-statement</key>
<value>INSERT INTO public."DataTable"(
	"PFCNTR", "DMA_CODE", "DMA_DESC", "OPEN_BRANDS_DESC", "OPERTNL_STAT_CODE", "LEGAL_ENTITY_NAME", "CITY_NAME", "STATE_CODE", "CNTY_NAME", "ZIP_CODE", "CNTRY", "LATITUDE", "LONGITUDE", "CreateTs", "ModifyTs")
	VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);</value>
                            </entry>
                            <entry>
<key>Support Fragmented Transactions</key>
<value>true</value>
                            </entry>
                            <entry>
<key>database-session-autocommit</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Transaction Timeout</key>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>Obtain Generated Keys</key>
<value>false</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Put Correct Data into SQL</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutSQL</type>
                </processors>
                <processors>
                    <id>62b7833a-02ca-3167-0000-000000000000</id>
                    <parentGroupId>cc3eedc4-6af7-357b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-424.0</x>
                        <y>32.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JsonPath Expression</key>
<value>
    <name>JsonPath Expression</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JsonPath Expression</key>
<value>$.*</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Split a Json file to multiple JSON file  </name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
                <processors>
                    <id>63686ea2-d762-3f74-0000-000000000000</id>
                    <parentGroupId>cc3eedc4-6af7-357b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-432.0</x>
                        <y>-392.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Input Directory</key>
<value>
    <name>Input Directory</name>
</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>
    <name>File Filter</name>
</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
<value>
    <name>Path Filter</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>
    <name>Keep Source File</name>
</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>
    <name>Recurse Subdirectories</name>
</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>
    <name>Polling Interval</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>
    <name>Ignore Hidden Files</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>
    <name>Minimum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
<value>
    <name>Maximum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>
    <name>Minimum File Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
<value>
    <name>Maximum File Size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Input Directory</key>
<value>#{file.Location}</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>#{file.Name}</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>5 sec</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>20 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Read Store Data</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GetFile</type>
                </processors>
                <processors>
                    <id>7975b763-1843-3a31-0000-000000000000</id>
                    <parentGroupId>cc3eedc4-6af7-357b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-912.0</x>
                        <y>512.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JDBC Connection Pool</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>JDBC Connection Pool</name>
</value>
                            </entry>
                            <entry>
<key>Statement Type</key>
<value>
    <name>Statement Type</name>
</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>
    <name>Table Name</name>
</value>
                            </entry>
                            <entry>
<key>Catalog Name</key>
<value>
    <name>Catalog Name</name>
</value>
                            </entry>
                            <entry>
<key>Schema Name</key>
<value>
    <name>Schema Name</name>
</value>
                            </entry>
                            <entry>
<key>Translate Field Names</key>
<value>
    <name>Translate Field Names</name>
</value>
                            </entry>
                            <entry>
<key>Unmatched Field Behavior</key>
<value>
    <name>Unmatched Field Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Unmatched Column Behavior</key>
<value>
    <name>Unmatched Column Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Update Keys</key>
<value>
    <name>Update Keys</name>
</value>
                            </entry>
                            <entry>
<key>jts-quoted-identifiers</key>
<value>
    <name>jts-quoted-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>jts-quoted-table-identifiers</key>
<value>
    <name>jts-quoted-table-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>jts-sql-param-attr-prefix</key>
<value>
    <name>jts-sql-param-attr-prefix</name>
</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>
    <name>table-schema-cache-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JDBC Connection Pool</key>
<value>df21e763-4730-30b2-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Statement Type</key>
<value>INSERT</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>#{db.DataTableName}</value>
                            </entry>
                            <entry>
<key>Catalog Name</key>
                            </entry>
                            <entry>
<key>Schema Name</key>
<value>public</value>
                            </entry>
                            <entry>
<key>Translate Field Names</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Unmatched Field Behavior</key>
<value>Ignore Unmatched Fields</value>
                            </entry>
                            <entry>
<key>Unmatched Column Behavior</key>
<value>Fail on Unmatched Columns</value>
                            </entry>
                            <entry>
<key>Update Keys</key>
                            </entry>
                            <entry>
<key>jts-quoted-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>jts-quoted-table-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>jts-sql-param-attr-prefix</key>
<value>sql</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>100</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Convert each JSON file To a SQL query</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>sql</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ConvertJSONToSQL</type>
                </processors>
                <processors>
                    <id>8021159d-9b7b-3934-0000-000000000000</id>
                    <parentGroupId>cc3eedc4-6af7-357b-0000-000000000000</parentGroupId>
                    <position>
                        <x>216.0</x>
                        <y>-72.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>windows-1252</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>daf8628e-6664-3304-0000-000000000000</id>
                    <parentGroupId>cc3eedc4-6af7-357b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-424.0</x>
                        <y>-176.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>replacement-value-strategy</key>
<value>
    <name>replacement-value-strategy</name>
</value>
                            </entry>
                            <entry>
<key>/CreateTs</key>
<value>
    <name>/CreateTs</name>
</value>
                            </entry>
                            <entry>
<key>/ModifyTs</key>
<value>
    <name>/ModifyTs</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>1dfd7156-e608-338a-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>ed067bf5-5774-30d7-0000-000000000000</value>
                            </entry>
                            <entry>
<key>replacement-value-strategy</key>
<value>literal-value</value>
                            </entry>
                            <entry>
<key>/CreateTs</key>
<value>${now():format("yyyy-MM-dd hh:mm:ss.sss")}</value>
                            </entry>
                            <entry>
<key>/ModifyTs</key>
<value>${now():format("yyyy-MM-dd hh:mm:ss.sss")}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Convert Store Data(CSV) to JSON and add Timestamp</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.UpdateRecord</type>
                </processors>
                <processors>
                    <id>ed8da7e7-3cb9-3a07-0000-000000000000</id>
                    <parentGroupId>cc3eedc4-6af7-357b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-952.0</x>
                        <y>152.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-chain</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>[{
	"operation": "shift",
	"spec": {
		"PFCNTR": "PFCNTR",
		"DMA_CODE": "DMA_CODE",
		"DMA_DESC": "DMA_DESC",
		"OPEN_BRANDS_DESC": "OPEN_BRANDS_DESC",
		"OPERTNL_STAT_CODE": "OPERTNL_STAT_CODE",
		"LEGAL_ENTITY_NAME": "LEGAL_ENTITY_NAME",
		"CITY_NAME": "CITY_NAME",
		"STATE_CODE": "STATE_CODE",
		"CNTY_NAME": "CNTY_NAME",
		"ZIP_CODE": "ZIP_CODE",
		"CNTRY": "CNTRY",
		"LATITUDE": "LATITUDE",
		"LONGITUDE": "LONGITUDE",
		"ModifyTs": "ModifyTs",
		"CreateTs": "CreateTs"
	}
}]</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>JoltTransformJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>LoadCSVDataIntoDBUsingProcessors</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>12/14/2020 17:42:51 IST</timestamp>
</template>
